@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?v3s632');
  src:  url('../fonts/icomoon.eot?v3s632#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?v3s632') format('truetype'),
        url('../fonts/icomoon.woff?v3s632') format('woff'),
        url('../fonts/icomoon.svg?v3s632#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-size: 14px;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera-outline:before {
  content: "\e902";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-menu:before {
  content: "\e903";
}
.icon-view_comfortable:before {
  content: "\e904";
}
.icon-menu1:before {
  content: "\e905";
}
.icon-camera1:before {
  content: "\e906";
}
.icon-phone-outgoing:before {
  content: "\e907";
}
.icon-camera:before {
  content: "\e908";
}
.icon-photo:before {
  content: "\e908";
}
.icon-picture:before {
  content: "\e908";
}
.icon-image:before {
  content: "\e908";
}
.icon-phone1:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e901";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-heart-o:before {
  content: "\f08a";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-envelope:before {
  content: "\e818";
}
.icon-user:before {
  content: "\e82a";
}
.icon-users:before {
  content: "\e82b";
}
.icon-phone-handset:before {
  content: "\e830";
}
.icon-map-marker1:before {
  content: "\e833";
}
.icon-calendar-full:before {
  content: "\e836";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-apple:before {
  content: "\f179";
}
.icon-stopwatch:before {
  content: "\e952";
}
.icon-forward:before {
  content: "\e969";
}
.icon-menu2:before {
  content: "\e9bd";
}
.icon-share2:before {
  content: "\ea82";
}
